$navHeight: 50px;
$navBorder: 1px;
$contentPadding: 20px;

.default {
  --backgroundGradientLeft: #2187ec;
  --backgroundGradientRight: #4169E1;

  --contentGradientLeft: #E5E5E5;
  --contentGradientRight: #B5B5B5;
  --contentShadow: #8C8C8C;

  --buttonHoverColor: #1874CD;

  --sortButtonColor: black;

  --arrayElemColor: #818181;

  --fontColorNav: white;
  --fontColorLeftNav: black;
}

.dark {
  --backgroundGradientLeft: #454545;
  --backgroundGradientRight: #262626;

  --contentGradientLeft: #6E6E6E;
  --contentGradientRight: #616161;
  --contentShadow: #424242;

  --buttonHoverColor: #4F4F4F;

  --sortButtonColor: black;

  --arrayElemColor: #cdcdcd;

  --fontColorNav: white;
  --fontColorLeftNav: #BFBFBF;
}

/* default values */
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Arial, sans-serif;
  background: linear-gradient(to right, var(--backgroundGradientLeft), var(--backgroundGradientRight));
  color: var(--fontColorNav);
  font-size: 30px;
  user-select: none;
}

/* title area */
#title {
  float: left;
  width: 250px;
  text-align: center;
  text-decoration: none;
  color: var(--fontColorLeftNav);
  font-weight: bold;
  border-right: $navBorder solid white;
  transition: background-color 0.3s;
}

#title:hover {
  cursor: pointer;
  background-color: var(--buttonHoverColor);
}

/* nav-bar at the top */
#topNav {
  border-bottom: $navBorder solid white;
  height: $navHeight;
  width: 100%;
  line-height: 50px;
  padding: 0;
  margin: 0;
  overflow: auto;
}

.navElem {
  border-right: $navBorder solid white;
  line-height: 50px;
  height: $navHeight;
  padding: 0 10px;
  vertical-align: middle;
  float: left;
  transition: background-color 0.25s, opacity 0.4s;
}

#sliderValue {
  display: inline-block;
  text-align: center;
  width: 50px;
}

/* nav-bar on the left */

#leftNav {
  height: calc(100% - 102px);
  border-right: $navBorder solid white;
  width: 250px;
  color: var(--fontColorLeftNav);
  cursor: default;
  overflow: auto;
  line-height: $navHeight;
  float: left;
}

.leftNavElem {
  width: 100%;
  text-align: center;
  line-height: 70px;
  font-size: 24px;
  height: 70px;
  cursor: pointer;
  transition: background-color 0.25s, opacity 0.4s;
}

#sortDiv {
  font-size: 30px;
  font-weight: bold;
  color: var(--sortButtonColor);
  border-bottom: $navBorder solid white;
  transition: background-color 0.4s, font-size 0.4s;
}

#sortDiv:hover {
  cursor: pointer;
  transition: background-color 0.4s, font-size 0.4s;
}

#bubbleSortDiv {
  text-decoration: underline;
}

.notSorting {
  background-color: #228B22;
}

.notSorting:hover {
  background-color: #3bb53b;
}

.sorting {
  background-color: #FF8C00;
}

.sorting:hover {
  background-color: #FFB90F;
}

.sorted {
  background-color: #A8A8A8;
}

#sortDiv.sorted:hover {
  cursor: default;
  background-color: #A8A8A8;
}

/* nav-bar at the bottom */

#bottomNav {
  border-top: $navBorder solid white;
  height: $navHeight;
  width: 100%;
  line-height: 50px;
  overflow: auto;
  white-space: nowrap;
}

/* pressable buttons on the nav-bars*/

.pressable {
  cursor: pointer;
}

.pressable:hover {
  background-color: var(--buttonHoverColor);
  transition: background-color 0.25s;
}

/* sorting-area */

#content {
  height: calc(100% - #{$navHeight*2 + $navBorder*2 + $contentPadding});
  width: calc(100% - 291px);
  background: #E5E5E5;
  background: linear-gradient(to bottom right, var(--contentGradientLeft), var(--contentGradientRight));
  text-align: center;
  padding: 0 $contentPadding $contentPadding;
  overflow: auto;
  white-space: nowrap;
  float: left;
  box-shadow: 0 0 20px 5px var(--contentShadow) inset;
}

/* array-element */
.arrayElem {
  background-color: var(--arrayElemColor);
  display: inline-block;
  vertical-align: top;
}

.arrayElem.firstHighlight {
  background-color: #1bb5cd;
}

.arrayElem.secondHighlight {
  background-color: #1675c4;
}

.arrayElem.sortedElem {
  background-color: #1f8a25;
}

.arrayElem.changedElem {
  background-color: #ff8c00;
}

.arrayElem.leftHalf {
  background-color: #ff7700;
}

.arrayElem.rightHalf {
  background-color: #ff5900;
}


/* The slider itself */
.slider {
  -webkit-appearance: none; /* Override default CSS styles */
  height: 5px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  border-radius: 5px;
  outline: none; /* Remove outline */
  padding: 0;
  margin: 0;
  cursor: default;
  vertical-align:middle;
}


/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  width: 25px;
  height: 25px;
  border-radius: 25px;
  cursor: pointer;
  background: #4CAF50;
}

@media only screen and (max-width: 600px) {

}